.jumbotron-custom {
  background-color: #ffeb3b;
  border-bottom: 3px solid #e65100;
  padding: 60px 40px;
}
.jumbotron-custom h1 {
  color: #e65100;
}
.jumbotron-custom p {
  color: #555;
}
.producto {
  margin: 10px;
  padding: 20px;
  background-color: #ffeb3b;
  color: #e65100;
  border: 2px solid #4caf50;
  border-radius: 10px;
  width: 280px;
}
.jumbotron-custom {
  margin: 10px;
  padding: 20px;
  background-color: #ffeb3b;
  color: #e65100;
  border: 2px solid #4caf50;
  padding: 60px 40px;
}
